@model HiringManager.Web.ViewModels.Candidates.EditCandidateViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.Partial(MVC.Candidate.Views._EditForm)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
