<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\AspNetAuth.mdf;Initial Catalog=AspNetAuth;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="HiringManager.EntityFramework.Repository" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\HiringManager.EntityFramework.Repository.mdf;Initial Catalog=HiringManager.EntityFramework.Repository;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>